@media (max-width: 480px)  {
    .header {
        &__wrapper {           
            padding-left: 20px;           
        }
        &__background {
            height: 300px;
        }         
    }
    .title {
        &__max {
            font-size: 20px;
            font-weight: 700;
            }
        &__list {       
            line-height: 45px;
            }  
        &__min {
            font-size: 20px;             
            }                             
        } 
    .description__text {
        font-size: 16px;
        text-align: justify;
        padding: 0 10px;
        }        
    .services {
        &__catalog {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
            } 
        &-item__descr {
            min-width: 195px;
            min-height: 129px;
            font-size: 19px;
            }      
    }
    .carousel {
        &__inner {          
            img {
                object-fit: cover;
                width: 300px;
                height: 200px;
                margin: 0 auto;
                padding: 0;
            }
        }
    }
    .articles {
        &__item {
            max-width: 100%;
            padding: 0px 10px;
        }
        &__title {
            font-size: 18px;
        }
        &__items-list {
            font-size: 12px;            
        }
    }
    .modal {
            width: 277px;
            padding: 40px 2px 40px 2px;
        &__close {
            right: 18px;
        }
    }
    .footer {  
        display: flex;     
        flex-direction: column;
        &__info:nth-child(2) {
            order: -1;
        }
        &__info {
            width: 280px;
            height: 195px;
            position: unset;
            transform: unset;
            margin-bottom: 20px;
            .footer__addr {
                font-size: 12px;
            }   
            a {
                font-size: 15px;  
            }                 
        }       
         
    }   
}

@media (max-width: 767px) {
    .header {
        &__wrapper {          
            padding: 11px 24px 63px 3px;
        }
        
        &__logo  {         
            &-img {
                width: 40px;
                height: 40px;
            }            
        }                
    }
    .services {
        &-item {
            width: 100%;
            margin: 20px;
        }
        &-item__img img {
            width: 100%;
        }
        &-item:last-child {
            margin: 20px;
        }          
    }
    .carousel {
        .prev, .next {
            display: none;
        }       
    }
    .pageup {
        display: none;
        position: fixed;
        bottom: 40px;
        right: 2px;
        width: 35px;
        height: 35px;
    }
}
@media (max-width: 876px) {
    .header {
        &__nav {
            display: none;
        }                  
    }
   
    .nav {
        display: block;
    }    
    .menu {         
        position: fixed;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        padding: 20px 15px;
        background-color: rgba(0,0 ,0 ,.8 );
        transition: 0.6s all;
        z-index: 2;
        &_active {
            left: 0;
        }           
        &_item {
            padding-right: 0;
            border: none;
            margin: 10px 0;
            list-style-type: none; 
            a {
                text-decoration: none;
                color: azure;
            }
            a:hover {
                transition: 0.2s ease-in-out;
                color: burlywood;
            }
        }

        &_link {
            font-size: 19px;
            text-decoration: none;
            opacity: 0.8;
            color: aliceblue;
        }
        &_link:hover {
            color: rgb(108, 138, 236);
        }           
    }
    
    .hamburger {
        display: block;
        position: absolute;
        right: 20px;
        top: 33%;
        transition: translateY(-50%);
        width: 26px;
        height: 12px;
        z-index: 2;
        span {
            display: block;
            height: 3px;
            width: 100%;
            background-color: chocolate;
            margin-bottom: 2px;
            transition: 0.5s all;
        }           
        &_active {
            span {
                margin-bottom: -2px; 
                &:nth-child(1) {
                    transform: translateY(3px) rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: translateY(3px) rotate(45deg);
                }
            }               
        }            
    } 
}  

@media (max-width: 991px) {
    .header {        
        &__logo span {
            font-size: 12px;
        }       
        &__nav {
            font-size: 12px;
        }
    }   
}
@media (min-width: 992px) and (max-width: 1199px) {
    .header {        
        &__logo {
            span {
                font-size: 14px;
                }
        }         
    }
}

@media (max-width: 1360px) {
    .carousel {
        .prev {
            left: 30px;
        }
        .next {
            right: 30px;
        }
    }
}