@media (max-width : 320px) {
    .services {
        &__catalog {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px;
            flex-wrap: wrap;
        }
        &-item {           
            margin: 20px;
        }   
        &-item:last-child {
            margin: 20;
        }  
    }
   
}