.services {
    padding-top: 40px;
    &-top {
        margin-top: 84px;
    }
    &__catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 20px;
        &-center {
            justify-content: center;
        }
    }   
    &-item {
        width: 31.33%;
        max-width: 100%;
        min-height: 600px;
        border: 1px solid #000;
        margin-right: 20px;    
        margin-bottom: 20px; 
        &__img {        
           cursor: pointer; 
           a {
            display: block;
           }
           img {
            width: 361px;
            height: 361px;   
            object-fit: cover;
            max-width: 100%;            
           }                   
        }
        &__img {
            a img:hover {  
                opacity: 0.8;     
              }  
        }
       
        &__wrapper {
           padding: 20px;
                      
        }
        &__descr {
            min-height: 188px;
            font-size: 28px;          
            font-weight: 400;
            text-align: center;
            cursor: pointer;
            padding: 10px 0 10px 0;            
            a {
                word-wrap: break-word;
                text-decoration: none;
                color: #000;
            }
        }
        &__descr a:hover {
            display: block;           
            margin: 0;
            transition: all .5s ;
            color: rgba(rgb(68, 58, 58), 0.897);
        }  
        &__time {
            padding: 20px 0 10px 0;
        }  
        &__prices {
            display: flex;
            flex-direction: column;  
        }
        &__old-price {
            font-family: 'Montserrat', sans-serif;
            color: #646464da;
            text-decoration: line-through;                      
        }  
        &__price {
            font-family: 'Montserrat', sans-serif;
            padding-bottom: 40px;
            font-weight: 400;
            font-size: 20px; 
        }        
        &__deactive-table {  
            width: auto;          
            border: none;
            text-align: center; 
            .services-item__wrapper {
                padding-bottom: 70px;
            }
            img {
                width: 940px;
                height: 540px;
                object-fit: cover;
            }
        }        
    }
    &-item:last-child {
        margin-right: 0;
    }
}