.signup {
    &-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        max-width: 100%;
        width: 500px;
        margin: 0 auto;
        padding-bottom: 80px;
    }
    input, textarea {
        border: 0 ;
        border-bottom: 1px solid #000;
        padding: 12px;
    }
    textarea {
        resize: none;
        height: 100px;
        margin-bottom: 30px;
    }
}